name: Deploy to Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            # On navigue vers le dossier (ajuste le nom du domaine si besoin)
            cd /home/${{ secrets.USERNAME }}/htdocs/seclinbasketclub.fr
            
            # Commande de sécurité pour git
            git config --global --add safe.directory "*"
            
            # On récupère les modifs
            git pull origin main
            
            # --- COMMANDES DE BUILD (Décommente ce dont tu as besoin) ---
            
            # Pour un site PHP / Laravel / Symfony :
            # /usr/bin/php8.1 /usr/local/bin/composer install --no-dev --optimize-autoloader
            
            # Pour un site Node.js / React / Vue :
            # npm install
            # npm run build