name: Deploy to Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            # Charger l'environnement Node.js (NVM)
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
            
            # Naviguer vers le dossier
            cd /home/${{ secrets.USERNAME }}/htdocs/seclinbasketclub.fr
            
            # Mise à jour du code
            echo "Mise à jour du code depuis le dépôt main..."
            git fetch origin
            git reset --hard origin/main
            git clean -fd
            
            # Installation et Build
            echo "Installation des dépendances..."
            npm install
            
            echo "Construction du projet Next.js..."
            npm run build
            
            # Redémarrage de l'application
            echo "Redémarrage de l'application..."
            pkill -f node || true
            echo "Déploiement sur main terminé avec succès."